header {
    background: crimson;
    color: white;
    border-bottom: 2px solid white;
}

.app-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.logo {
    font-family: 'Racing Sans One', cursive;
}

.logo span{
    color: gold;
}

nav a {
    margin: .5em;
}

nav a:active {
    color: darkblue;
}

nav a.active {
    color: gold;
    font-weight: bold;
    text-decoration: overline;
}