* {
    box-sizing: border-box;
}

html {
}

body {
    margin: 0;
    font-family: 'Assistant', sans-serif;
}

img {
    width: 100%;
}

.homepage {
    display: flex;
    flex-direction: column;
    // min-height: 100vh;
    main {
        padding: 0 1em;
        flex-grow: 1;
    }
}


h1,
h2,
h3,
h4,
h5,
h6 {

}

a {
    text-decoration: none;
    font-weight: 600;
    color: goldenrod;
}

button {
    cursor: pointer;
    background: none;
    border: none;
    &.login-btn {
        background-color: white;
        border-radius: 45px;
        padding: 0.5rem 1.5rem;
    }
}



.btn {
    // @include blockBtn( $color: $clr4);

    // @include for-narrow-layout {
    //     background-color: $clr2;
    // }
    
    // @include for-normal-layout {
    //     background-color: $clr3;
    // }

    // @include for-wide-layout {
    //     background-color: $clr4;
    // }
    
    &-round {
        border-radius: 2em;
    }
}