* {
    box-sizing: border-box;
}

html {
}

body {
    margin: 0;
    font-family: 'Assistant', sans-serif;
}

img {
    width: 100%;
}



h1,
h2,
h3,
h4,
h5,
h6 {

}



.btn {
    // @include blockBtn( $color: $clr4);

    // @include for-narrow-layout {
    //     background-color: $clr2;
    // }
    
    // @include for-normal-layout {
    //     background-color: $clr3;
    // }

    // @include for-wide-layout {
    //     background-color: $clr4;
    // }
    
    &-round {
        border-radius: 2em;
    }
}