.toy-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 220px);
  gap: 1rem;
  margin: 2rem 0;
}

.toy-preview {
  padding: 0.5rem;
  border-radius: 1rem;
  border: 2px groove goldenrod;
  > img {
    display: flex;
  }
  &.plus-sign {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    margin: auto 0;
  }
}

.toy-filter {
  padding: 0.5rem;
  display: flex;
  & input {
    padding: 0;
  }
}
